body {
    font-family: sans-serif;
    user-select: none;
    background-color: #352525;
}
div.wrapper {
    margin: auto;
    border-color: #453535;
    border-width: 5px;
    border-style: solid;
    background-color: #554545;
    width: 900px;
    padding: 10px;
    border-radius: 20px;
}
h1.title {
    margin-top: 5px;
}
div.title {
    border-color: #655555;
    border-width: 5px;
    height: 65px;
    border-style: solid;
    background-color: #756565;
    color: white;
    font-weight: 500;
    font-size: 25;
    text-align: center;
    border-radius: 20px;
    width: 700px;
    margin: auto;
}
div.lang {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    background-color: #756565;
    border-color: #655555;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    width: 275px;
    margin-left: 510px;
}
h2.cy {
    margin: auto;
    background-color: #e55555;
    border-color: #e54545;
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
}
h2.en {
    margin: auto;
    background-color: #f5f5f5;
    border-color: #e5e5e5;
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
}
div.prLang {
    background-color: #756565;
    border-color: #655555;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
    width: 400px;
    text-align: center;
    padding: 10px;
}
h2.prTitle {
    color: white;
    font-size: 35;
    margin-top: 5px;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    background-color: #655555;
    border-color: #706060;
    width: 50%;
    margin: auto;
}
h2.python {
    background-color: #0000f0;
    border-color: #0000d0;
    border-width: 5px;
    border-radius: 20px;
    padding: 5px;
    border-style: solid;
    width: 35%;
    margin: auto;
    margin-top: 10px;
    transition: 0.2s;
}
h2.python:hover {
    box-shadow: 5px 5px 10px #5050f0;
}